.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
/*   background-image: image("images/Country_Lane_Lodge/large-pool-children-s.jpg"); */
  flex-shrink: 0;

}

.find h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;

}

a:hover {
  color: green;
}

nav {
  display: flex;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(82, 115, 121, 0.938);
  width: 1799px
}
.profile{ 
  transform: translate(-50%, -50%);
  background-color: rgba(82, 115, 121, 0.938);
 border-radius: 50%;
 display: flex;
 margin-top: 10px;
}
.profile img{
  width: 50px;
  height: 50px;
}
.search {
  display: flex;
  color: black;
  background-color: rgba(76, 84, 85, 0.88);
  width: 990px;
  margin-left: 720px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: 80px;
}

.destination {
  margin-top: 20px;
  margin-left: 5px;
}

.search a {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.search button {
  width: 100px;
  height: 80px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-top: -20px;
}

button:hover {
  background-color: grey;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin-left: 100px;
}

p {
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 35%;
  left: 10%;

}

.find {
  background-color: rgba(76, 84, 85, 0.58);
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 65%;
}

.destinPopular {
  text-align: center;

}

.destinPopular h2 {
  color: rgba(30, 89, 30, 0.9);
  font-size: 35px;
}

.destinPopular h1 {
  color: rgba(0, 132, 4, 0.9);
  font-size: 50px;
  margin-top: -30px;
}

.Hotels {
  width: 50%;
  display: flex;
  margin: auto;
  text-align: center;
  
}

.Hotels img {

  text-align: center;
  max-width: 100%;
  height: 80%;
  margin: auto;

}

.checked {
  color: orange;
}

.Country {
  margin-left: 10px;
}

.Hotels h3 {
  color: rgba(30, 89, 30, 0.9);
}

.Hotels button {
  border-radius: 50px;
  background-color: rgba(0, 132, 4, 0.6);
  border: none;
  height: 25px;
}

.whyUs {
  background-image: url("images/pexels-chris-czermak-2444429.jpg");
  display: flex;
  margin-top: 200px;
  justify-content: center;


}

.whyUs div {
  background-color: rgba(129, 129, 129, 0.3);
  margin-left: 250px;
  border: solid 1px;
  margin-top: 180px;
  margin-right: -220px;
  width: 250px;
  height: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  border: none;
}

.whyUs p {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}

.whyUs div h2 {
  color: rgb(0, 18, 121);
}

.pi {
  margin-right: -1000px;
  width: 300px;
  margin-top: 50px;
  font-size: 36px;
  color: rgb(255, 255, 255)
}

.country {
  margin: 100px;
}

li {
  list-style: none;
}