 .body {
     text-align: center;
     background-color: aliceblue;
     margin-left: auto;
     margin-right: auto;
     width: 1700px;
     padding: 10px;
 }

 .hotNav {
     width: 1700px;

 }

 .rooms {
     margin-top: 80px;
 }

 .rooms h2 {
     font-size: 40px;
     font-family: 'Courier New', Courier, monospace;
 }

 .roomType {
     display: flex;
     flex-direction: column;
 }

 .superiorDoubleRoom {
     display: flex;
     margin-top: 10px;
     border: solid 1px;
     height: 400px;
 }

 .part1 img {
    width: 500px;
    height: 100%;
 }
 .part1 h3{
    margin-left: 100px;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
 }

 .lastPasrt {
     background-color: rgba(247, 247, 247, 0.2);
     margin-left: auto;
     margin-right: auto;
     height: 700px;
     width: 1700px;
     text-align: center;
     display: flex;
 }

 .lastPasrt .contact {
     margin-top: 100px;
     margin-left: 250px;
 }

 .lastPasrt .ForCustomer {
     margin-top: 100px;
     margin-left: 160px;
 }

 .maps {

     margin-left: 100px;

 }