.body{
    text-align: center;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    height: 1520px;
    width: 1700px;
    
}
.hotNav {
    background-color: rgb(46, 80, 80);
    margin-top: -70px;
    width: 1700px;
    margin-left: -380px;
  }
  .lastPasrt {
    background-color: rgba(247, 247, 247, 0.2);
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 1700px;
    text-align: center;
    display: flex;
}

.lastPasrt .contact {
    margin-top: 100px;
    margin-left: 250px;
}

.lastPasrt .ForCustomer {
    margin-top: 100px;
    margin-left: 160px;
}
table {
    margin-left: 500px;
    width: 600px;
}