.body {
  display: flex;
  background-image: url("../images/HotelImages/istockphoto-119926339-612x612.jpg");
  background-repeat: no-repeat;
background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 990px;
  width: 1700px;
  flex-direction: column;
  text-align: center;

}

.nav {
  background-color: rgb(46, 80, 80);
  margin-top: -70px;
  width: 1700px;
  margin-left: -380px;
}

.p {

  width: 392px;
  height: 148px;
  margin-left: 4%;
  margin-top: 90%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.right {
  width: 579px;
  height: 600px;
  margin-left: 600px;
  margin-top: 250px;
  background: #ffffffd5;
 
}

.name {
  width: 496px;
  height: 58.02px;
  left: 745px;
  top: 439px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  resize: none;
  color: rgb(46, 80, 80);
  outline: none;
}

.pass {
  width: 496px;
  height: 58.02px;
  left: 745px;
  top: 439px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: rgb(46, 80, 80);

}

footer {
  width: 130px;
  height: 19px;
  margin-top: 30%;
  margin-left: 70%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: rgb(46, 80, 80);

}


.right .button {
  border-radius: 30px;
  border: none;
  font-size: 18px;
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: rgb(46, 80, 80);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 10px;

}

.reg {
  color:  black;
  margin-top: 10px;
}

a {

  text-decoration: none;
}

.right .h4 {
  width: 296px;
  height: 24px;
  margin-left: 25%;
  margin-top: 10%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;

  color: rgb(46, 80, 80);
}

.n {
  width: 96px;
  height: 24px;
  margin-top: 15%;
  margin-left: 5%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgb(46, 80, 80);

}

a:hover {
  color: grey;
}

.right .button:hover {
  background-color: #4e4e4e;
}

.lastPasrt {
  background-color: rgba(31, 177, 177, 0.63);
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 1700px;
  text-align: center;
  display: flex;
}

.lastPasrt .contact {
  margin-top: 100px;
  margin-left: 250px;
}

.lastPasrt .ForCustomer {
  margin-top: 100px;
  margin-left: 160px;
}