 .body {
   display: flex;
   background-image: url("../images/HotelImages/istockphoto-119926339-612x612.jpg");
   background-repeat: no-repeat;
 background-size: cover;
  /*  background-color: aliceblue; */
   margin-left: auto;
   margin-right: auto;
   height: 990px;
   width: 1700px;
   flex-direction: column;

 }

 .main {
   background-attachment: fixed;
   background-color: rgba(255, 255, 255, 0.767);
   width: 600px;
   height: 700px;
   margin-left: 700px;
   box-shadow: 5px 5px 5px rgb(65, 65, 65);
   margin-top: 120px;
   margin-left: 580px;

 }

 .nav {
   background-color: rgb(46, 80, 80);
   margin-top: -70px;
   width: 1700px;
   margin-left: -380px;
 }

 .x {
   margin-left: 570px;
   margin-top: -10px;
   margin-bottom: 50%;
   color: black;
   font-size: 20px;
   font-weight: bolder;
   text-decoration: none;

 }

 .h3 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 39px;
   margin-left: 130px;
   color: #535C58;
 }

 .register {
   margin-top: 80px;
   margin-left: 130px;

 }

 .email {
   box-sizing: border-box;
   width: 390px;
   height: 24px;
   border: 1px solid #000000;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;

   color: rgba(0, 0, 0, 0.5);
 }

 .password {
   box-sizing: border-box;
   width: 390px;
   height: 24px;
   border: 1px solid #000000;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;

   color: rgba(0, 0, 0, 0.5);
 }

 .Cpassword {
   box-sizing: border-box;
   width: 390px;
   height: 24px;
   border: 1px solid #000000;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;

   color: rgba(0, 0, 0, 0.5);
 }

 .buttons {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #000000;

   width: 197px;
   height: 52px;
   margin-left: 200px;
   margin-top: -5000px;
   border: solid 1px;
   background: #92fffa60;
   border-radius: 30px;
 }

 .footer {
   width: 177px;
   height: 19px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   margin-left: 35%;
   margin-top: 2%;
   color: #000000;

 }

 a {
   text-decoration: none;
   color: #000000;
 }

 .p1 {
   width: 490px;
   height: 79px;
   left: 407.02px;
   top: 685px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;

   color: rgba(0, 0, 0, 1);
   margin-top: 10%;
   margin-left: 80px;
 }

 footer a:hover {
   color: green;
 }

 .lastPasrt {
   background-color: rgba(31, 177, 177, 0.63);
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   width: 1700px;
   text-align: center;
   display: flex;

 }

 .lastPasrt .contact {
   margin-top: 100px;
   margin-left: 250px;
 }

 .lastPasrt .ForCustomer {
   margin-top: 100px;
   margin-left: 160px;
 }