table,
td,
th {
  border: 1px solid;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 490px;
  margin-top: 20px;
}

.hotNav {
  background-color: rgba(30, 75, 75, 0.904);
  margin-top: -70px;
  width: 1700px;
  margin-left: -380px;
}

.body {
  padding-top: 100px;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  height: 990px;
  width: 1700px;
  margin-top: 55px;
}

.accept {
  background-color: rgba(40, 206, 40, 0.822);
}

.reject {
  background-color: rgba(212, 13, 13, 0.884);
}

.lastPasrt {
  background-color: rgba(247, 247, 247, 0.2);
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 1700px;
  text-align: center;
  display: flex;
}

.lastPasrt .contact {
  margin-top: 150px;
  margin-left: 250px;
}

.lastPasrt .ForCustomer {
  margin-top: 150px;
  margin-left: 160px;
}