.Hotels {
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center;
}

.Hotels img {
    text-align: center;
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.body {
    text-align: center;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    width: 1700px;
    padding-top: 100px;
}
.button{
    background-color: aquamarine;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}
.hotNav {
    background-color: rgba(30, 75, 75, 0.904);
    margin-top: -70px;
    width: 1700px;
    margin-left: -380px;
}

.lastPasrt {
    background-color: rgba(247, 247, 247, 0.2);
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1700px;
    text-align: center;
    display: flex;
}

.lastPasrt .contact {
    margin-top: 150px;
    margin-left: 250px;
}

.lastPasrt .ForCustomer {
    margin-top: 150px;
    margin-left: 160px;
}