.hotelBackg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;

}

.hotNav {
    display: flex;
    position: absolute;
    top: 4%;
    left: 62%;
    transform: translate(-50%, -50%);
    width:1690px;
}

.hotNav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 13px;
}

a:hover {
    color: azure;
}

.hotelName {
    background-color: rgba(24, 78, 31, 0.3);
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.hotelName h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

}

.p {
    background-color: rgba(24, 78, 31, 0.3);
    position: absolute;
    transform: translate(-50%, -50%);
    width: 45%;
    color: azure;
    font-size: 20px;
    font-weight: bold;
    top: 61.2%;
    left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.downText {
    display: flex;
    margin-left: 1100px;
    margin-top: 70px;
    flex-direction: column;
    padding: auto;
    width: 500px;
}

.h1 {
    margin-top: 100px;
    margin-left: -160px;
    font-family: 'Courier New', Courier, monospace;
}

.p2 {
    margin-top: -10px;
    color: black;
    font-size: 18px;
    font-weight: lighter;
    margin-left: -120px;
}

.gallary {
    width: 50%;
    display: flex;
    margin-top: -320px;
   
}

.gallary img {
    max-width: 80%;
    height:auto;
    margin: auto;
    height: 250px;
}
.gallary button{
    border-radius: 20px;
    width:110px;
    height:40px;
    font-size: 30px;
    margin-top: 20px;
    margin-top: 400px;
    margin-left: -600px;
   background-color: antiquewhite;
}
.pic1{
  margin-top: -10px;
  margin-left: 80px;
}
.pic2{
    margin-top: 220px;
    margin-left: -200px;
}
.whiteSide{
    margin-top: -70px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 1700px;

}
.lastPasrt{
background-color: rgba(247, 247, 247, 0.2);
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1700px;
    text-align: center;
    display: flex;
}
.lastPasrt .contact {
    margin-top: 150px;
    margin-left: 250px;
}
.lastPasrt .ForCustomer {
    margin-top: 150px;
    margin-left: 160px;
}
.downText button{
    border-radius: 20px;
    width:100px;
    height:40px;
    font-size: 30px;
    margin-top: 20px;
   background-color: antiquewhite;
}
 .maps{
  
  margin-left: 100px;

}
